* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #eaf2f8;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.contenedor {
    width: 90%;
    max-width: 700px;

    background: white;

    border-radius: 20px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.2);

    overflow: hidden;
}


/* ENCABEZADO */

header {
    background: #1769aa;

    color: white;

    padding: 20px;

    display: flex;

    align-items: center;

    gap: 15px;
}

.logo {
    font-size: 50px;
}

header h1 {
    font-size: 30px;
}

header p {
    font-size: 16px;
}


/* CHAT */

#chat {
    height: 350px;

    padding: 20px;

    overflow-y: auto;

    background: #f7f9fb;
}


/* MENSAJES */

.mensaje {
    margin-bottom: 15px;

    padding: 12px 15px;

    border-radius: 15px;

    max-width: 80%;
}

.mensaje p {
    margin-top: 5px;
}


.bot {
    background: #d6eaf8;

    margin-right: auto;
}


.usuario {
    background: #d5f5e3;

    margin-left: auto;
}


/* BOTONES */

.opciones {

    padding: 15px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
}

.opciones button {

    border: none;

    padding: 12px;

    border-radius: 10px;

    background: #5dade2;

    color: white;

    cursor: pointer;

    font-size: 14px;
}

.opciones button:hover {

    background: #2e86c1;
}


/* ENTRADA */

.entrada {

    display: flex;

    padding: 15px;

    gap: 10px;

    border-top: 1px solid #ddd;
}

.entrada input {

    flex: 1;

    padding: 13px;

    border: 1px solid #bbb;

    border-radius: 10px;

    font-size: 16px;
}

.entrada button {

    padding: 13px 20px;

    border: none;

    border-radius: 10px;

    background: #1769aa;

    color: white;

    cursor: pointer;
}

.entrada button:hover {

    background: #0d47a1;
}


/* PIE */

footer {

    text-align: center;

    padding: 12px;

    font-size: 13px;

    color: #666;
}


/* CELULAR */

@media(max-width:600px) {

    .opciones {

        grid-template-columns: repeat(2, 1fr);

    }

    #chat {

        height: 400px;

    }

}